.my-message {
  margin-bottom: 20px;
  background-color: var(--grey-lighten-1);
}

.my-message .expanded-message {
  min-height: 200px;
  max-height: 200px;
}

.message-actions {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
}
