.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  align-items: center;
  min-height: 70%;
  border: 1px solid var(--grey-lighten-2);
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid var(--grey);
}

.praise-badge {
  background: var(--grey-lighten-2);
  padding: 5px;
  height: 30px;
}

.prayer-badge {
  background: var(--grey-darken-2);
  color: var(--grey-lighten-2);
  padding: 5px;
  height: 30px;
}

.user-name {
  color: var(--blue-grey-1);
  text-align: right;
}

.message-text {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 0 10px;
}

.expanded-message {
  min-height: 300px;
  width: 100%;
  border-bottom: 1px solid var(--grey-darken-2);
}

.expanded-message .user-name {
  padding-left: 5px;
  text-align: left;
}

.expanded-message-text {
  padding: 10px;
}
