.nav-color {
  background-color: var(--grey-darken-3);
}

.tabbar-color {
  background-color: var(--grey-darken-1);
}

.custom-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 700px) {
  a.brand-logo {
    font-size: 1.3rem;
  }
}
