.selectbar {
  display: flex;
  flex-direction: column;
  color: var(--grey);
}

.selected {
  width: 50%;
  padding: 20px 10px;
  margin-bottom: 5px;
  background-color: var(--grey-darken-3);
}

.selected::before {
  content: '\203A';
  font-size: 1.5rem;
  margin-right: 5px;
}

.unselected {
  width: 50%;
  padding: 25px 10px;
  margin-bottom: 5px;
  background-color: var(--grey-lighten-3);
}

.hidden {
  display: none;
  visibility: hidden;
}
