.app-menu-1 {
  position: absolute;
  top: 50px;
  right: 25px;
}

.app-menu-2 {
  padding: 10px;
}

.app-menu-1 p {
  padding: 10px 10px 0 10px;
  margin: 0;
}

.app-menu-2 ul {
  margin-top: 0;
}

.app-language {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  color: var(--grey-lighten-5);
  background-color: var(--grey-darken-5);
}

.user-pic {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 20px;
}
