@import '../../main.css';

.formContainer {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  width: 100%;
}

button.submitButton {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  color: var(--grey-lighten-5);
  background-color: var(--grey-darken-5);
}

button.disabledButton {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--grey-lighten-2);
}

.contentHolder {
  color: var(--main-dark);
  height: 400px;
  font-family: var(--main-cursive-font);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciDQogIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIg0KICB3aWR0aD0iMzAwcHgiIGhlaWdodD0iNDFweCINCiAgdmlld0JveD0iMCAwICAzMDAgNDEiDQogIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiID4NCiAgPHJlY3QNCiAgICBpZD0ic3ZnRWRpdG9yQmFja2dyb3VuZCINCiAgICB4PSIwIiB5PSIwIg0KICAgIHdpZHRoPSIzMDAiDQogICAgaGVpZ2h0PSI0MSINCiAgICBzdHlsZT0iZmlsbDogbm9uZTsgc3Ryb2tlOiBub25lOyIvPg0KICA8bGluZSBpZD0iZTFfbGluZSIgeDE9IjAiIHkxPSI0MCIgeDI9IjMwMCIgeTI9IjQwIiBzdHJva2U9IiNCMUNBRDIiIHN0eWxlPSJzdHJva2Utd2lkdGg6IDFweDsgZmlsbDogbm9uZTsiLz4NCjwvc3ZnPg==);
  background-repeat: repeat;
  font-size: 22px;
  line-height: 41px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  overflow: scroll;
  overflow-x: hidden;
}

.info {
  padding: 10px 0;
  font-size: 0.8em;
  font-style: italic;
  color: var(--grey);
}
