:root {
  --grey-lighten-5: #fafafa;
  --grey-lighten-4: #f5f5f5;
  --grey-lighten-3: #eeeeee;
  --grey-lighten-2: #e0e0e0;
  --grey-lighten-1: #bdbdbd;
  --grey: #9e9e9e;
  --grey-darken-1: #757575;
  --grey-darken-2: #616161;
  --grey-darken-3: #424242;
  --grey-darken-4: #212121;
  --grey-darken-5: #242729;
}

body {
  min-height: 100vh;
}

.root-container {
  min-width: 100%;
}

button:focus {
  outline: none;
  background-color: var(--grey-darken-2);
}
